/* body */
body {
  font-size: 12px;
  text-align: center;
  font-family: Kumbh Sans;
}

.card {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  border: 0;
  border-radius: 5%;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

/* card header */
.card-header {
  padding: 0;
  height: 8rem;
  margin: 0;

  backface-visibility: hidden;
  background: url(profile-card-component-main/images/bg-pattern-card.svg);
}
.card-age,
.card-address, p {
  color: hsl(0, 0%, 59%);
}
.card-name, h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.card-name {
  padding-top: 75px;
}
.profile-img {
  border-radius: 50%;
  position: relative;
  top: 77px;
}

/* card body */
.card-body {
  padding: 0;
}

/* card footer */
.card-footer {
  display: inline-block;
}
