/* body */
body {
  text-align: center;
  font-family: Kumbh Sans;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("profile-card-component-main/images/bg-pattern-top.svg"), url("profile-card-component-main/images/bg-pattern-bottom.svg");
  background-color: hsl(185, 75%, 39%);
  background-position: left -55vw top -55vw, right -35vw bottom -80vw;
  background-repeat: no-repeat;
  background-size: 100vw;
}

@media screen and (max-width: 380px) {
  body {
    background-position: left -45vw top -50vw, right -45vw bottom -40vw;
    background-size: 100vw;
  }
}

.card {
  width: 350px;
  height: 375px;
  max-width: 90vw;
  max-height: 90vh;
  border: 0;
  border-radius: 1rem;
}

/* card header */
.card-header {
  padding: 0;
  height: 40%;
  margin: 0;
  background: url(profile-card-component-main/images/bg-pattern-card.svg);
}

.card-age,
.card-address, p {
  color: hsl(0, 0%, 59%);
}

.card-name, h5 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
}

.card-name {
  padding-top: 3rem;
}

.card-address {
  padding-top: 0.5rem;
}

.profile-img {
  border-radius: 50%;
  position: relative;
  top: 64%;
  border-style: solid;
  border-color: white;
  border-width: 0.25rem;
}

/* card body */
.card-body {
  padding: 1.25rem;
}

/* card footer */
.card-footer {
  display: inline;
  line-height: 1.5;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

p {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.col-4 p {
  font-size: 0.75rem;
}
