/* body */
body {
  font-size: 12px;
  text-align: center;
  font-family: Kumbh Sans;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 100px) {
  body {
    background-image: url("profile-card-component-main/images/bg-pattern-top.svg"), url("profile-card-component-main/images/bg-pattern-top.svg");
    background-color: hsl(185, 75%, 39%);
    background-position: left -55vw top -55vw, right -35vw bottom -80vw;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
  }
}

.card {
  width: 20rem;
  border: 0;
  border-radius: 15px;
}

/* card header */
.card-header {
  padding: 0;
  height: 8rem;
  margin: 0;
  background: url(profile-card-component-main/images/bg-pattern-card.svg);
}
.card-age,
.card-address, p {
  color: hsl(0, 0%, 59%);
}
.card-name, h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.card-name {
  padding-top: 75px;
}
.profile-img {
  border-radius: 50%;
  position: relative;
  top: 77px;
  border-style: solid;
  border-color: white;
  border-width: 4px;
}

/* card body */
.card-body {
  padding: 0;
}

/* card footer */
.card-footer {
  display: inline-block;
}
